/***************************************************** Imports and generic defaults
*****************************************************/
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,900");
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\000038}}
* { margin: 0; padding: 0; box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\0000314}}
a, a:hover { text-decoration: none; color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\0000316}}
body { min-width: 100%; background-color: #000; font-family: 'Nunito Sans', sans-serif; color: #fff; }

/***************************************************** SASS Mixins
*****************************************************/
/***************************************************** Loading Screen
*****************************************************/
/***************************************************** Navigation
*****************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\0000385}}
.navigation { position: fixed; top: 0; left: 0; min-width: 100%; z-index: 998; background-color: #000; height: 50px; border-bottom: 1px solid #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\0000396}}
nav { padding: 10px; width: 800px; float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003100}}
nav ul { margin-left: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003101}}
nav ul li { list-style-type: none; float: left; text-align: center; padding: 0 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003106}}
nav ul li p { -webkit-transition: all 0.23s ease; -moz-transition: all 0.23s ease; -o-transition: all 0.23s ease; transition: all 0.23s ease; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003108}}
nav ul li a { font: bold 1.4em 'Nunito Sans', sans-serif; color: #bbb; font-weight: 200; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003109}}
nav ul li:hover a { color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003113}}
aside { float: right; margin-top: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003116}}
aside > div { width: 300px; margin: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003120}}
aside div div { width: 20px; height: 20px; margin: 10px 15px 0; float: left; background-image: url(../img/sprite.png); background-size: 120px 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003127}}
aside div div.facebook { background-position: 0px 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003128}}
aside div div.twitter { background-position: -20px 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003129}}
aside div div.instagram { background-position: -40px 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003130}}
aside div div.tumblr { background-position: -60px 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003131}}
aside div div.youtube { background-position: -80px 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003132}}
aside div div.email { background-position: -100px 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003133}}
aside div div.facebook:hover { background-position: 0px -20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003134}}
aside div div.twitter:hover { background-position: -20px -20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003135}}
aside div div.instagram:hover { background-position: -40px -20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003136}}
aside div div.tumblr:hover { background-position: -60px -20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003137}}
aside div div.youtube:hover { background-position: -80px -20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003138}}
aside div div.email:hover { background-position: -100px -20px; }

@media only screen and (max-width: 1100px) { @media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003143}}
  .navigation { height: 80px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003144}}
  nav ul li { padding: 0; width: 20%; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003148}}
  nav { width: 100%; padding-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003149}}
  aside { margin-top: 0; width: 100%; } }
@media only screen and (max-width: 800px) { @media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003175}}
  nav ul li a { font-size: 3.0vw; } }
/***************************************************** Header
*****************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003183}}
header { width: 100%; float: left; color: #fff; min-height: 45vw; background: url(../img/headerblur.png) top center/cover no-repeat fixed; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003189}}
header .banner { margin-top: 55px; min-width: 100%; height: 365px; float: left; background: url(../img/headerbg.png) center top/cover no-repeat; transition: all .23s ease; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003197}}
header .banner .wrapper { position: relative; left: 10px; width: 95%; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003201}}
header .banner h1 { font: 120px 'Nunito Sans', sans-serif; margin: 0; font-weight: 900; font-style: italic; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003209}}
header .introduction { color: #fff; width: 50%; width: 100%; margin: 0 auto 25px; float: left; font-weight: 900; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003216}}
header .introduction .wrapper { max-width: 900px; margin: auto; padding: 50px 10px 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003217}}
header .introduction span { font-size: 1.8em; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003218}}
header .introduction p { padding: 7px 10px; float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003219}}
header .introduction p:first-of-type { padding: 0; font-size: 1.8em; padding-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003225}}
header .introduction p:last-of-type { text-align: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003226}}
header .introduction a { color: #55f; text-decoration: underline; -webkit-transition: all 0.23s ease; -moz-transition: all 0.23s ease; -o-transition: all 0.23s ease; transition: all 0.23s ease; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003227}}
header .introduction a:hover { color: #88f; }

@media only screen and (max-width: 1100px) { @media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003232}}
  header .banner .wrapper h1 { font-size: 10vw; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003233}}
  header .banner { background-position: right top; } }
/***************************************************** Main
*****************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003241}}
main { min-width: 100%; float: left; background-color: #000; font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003246}}
main section { float: left; max-width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003247}}
main h2 { width: 100%; font-size: 3.4em; margin: 20px 0; overflow: hidden; text-align: center; font-family: 'Nunito Sans', sans-serif; font-weight: 900; color: #fff; }

@media only screen and (max-width: 500px) { @media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003261}}
  main h2 { font-size: 15.0vw; } }
/***************************************************** Project Works
*****************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003269}}
#projects .humping_zoo h3, #projects .humping_zoo p, #projects .steamed_crab h3, #projects .steamed_crab p, #projects .missing_dog h3, #projects .missing_dog p, #projects .scream_bucket h3, #projects .scream_bucket p, #projects .woman_happy h3, #projects .woman_happy p { color: #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003270}}
#projects article { width: 50%; float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003273}}
#projects article img { width: 50%; position: absolute; opacity: .8; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003278}}
#projects article .art_contain { position: relative; color: #fff; width: 90%; margin: 0 5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003284}}
#projects article h3, #projects article p { width: 100%; margin: 0; transition: all .23s ease; float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003290}}
#projects article h3 { text-transform: uppercase; font-weight: bold; font-size: 2.7vw; text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003296}}
#projects article p { font-size: 1.6vw; height: 45px; padding-top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003301}}
#projects article:hover img { opacity: .5; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003302}}
#projects article p:last-of-type { text-align: right; position: absolute; bottom: 15px; width: 100% !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003303}}
#projects article.NSFW .art_contain p { width: 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003303}}
#projects article.NSFW .art_contain p:nth-of-type(2) { text-align: right; }

@media only screen and (max-width: 1100px) and (orientation: portrait) { @media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003351}}
  #projects article img { width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003352}}
  #projects article h3 { font-size: 4.2vw; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003353}}
  #projects article p { font-size: 2.6vw; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003354}}
  #projects article { width: 100%; } }
/***************************************************** Illustration Works
*****************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003361}}
#illustrations > div { float: left; width: 16.666%; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003364}}
#illustrations > div img { width: 100%; height: 100%; }

@media only screen and (max-width: 1100px) { @media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003369}}
  #illustrations > div { width: 25%; } }
@media only screen and (max-width: 500px) { @media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003373}}
  #illustrations > div { width: 33.333%; } }
/***************************************************** Footer
*****************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003380}}
footer { min-width: 100%; margin-top: 60px; float: left; background: url(../img/footerbg.png) 0px 0px/100% 100% no-repeat; box-shadow: inset 0 0 20px #000; color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003388}}
footer .wrapper { width: 100%; height: 100%; padding: 20px 10% 40px; float: left; background-color: rgba(44, 37, 40, 0.5); }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003396}}
footer .navigate { float: right; margin-right: 200px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003399}}
footer .navigate h3 { text-transform: uppercase; font-weight: 900; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003400}}
footer .navigate ul { list-style-type: none; margin-left: 25px; font-size: 1.7em; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003404}}
footer .navigate ul a { transition: all .23s ease; position: relative; left: 0; font-weight: 300; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003405}}
footer .navigate ul a:hover { color: #888; }

@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003410}}
.legal { width: 100%; float: left; padding: 5px 10%; margin-bottom: 30px; border-top: 1px solid #bbb; border-bottom: 1px solid #bbb; background-color: rgba(50, 50, 50, 0.8); text-align: right; font-weight: 400; }

@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003423}}
#gototop div { position: fixed; z-index: 999; bottom: 40px; right: 40px; width: 80px; height: 80px; border-radius: 40px; background: #4c4c4c; background: -moz-linear-gradient(top, #4c4c4c 0%, #2c2c2c 46%, #4c4c4c 93%, #4c4c4c 97%); background: -webkit-linear-gradient(top, #4c4c4c 0%, #2c2c2c 46%, #4c4c4c 93%, #4c4c4c 97%); background: linear-gradient(to bottom, #4c4c4c 0%, #2c2c2c 46%, #4c4c4c 93%, #4c4c4c 97%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#4c4c4c',GradientType=0 ); -webkit-animation: playGradiant 5s linear infinite; -moz-animation: playGradiant 5s linear infinite; -o-animation: playGradiant 5s linear infinite; animation: playGradiant 5s linear infinite; animation-play-state: paused; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003436}}
#gototop div:hover { animation-play-state: running; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003437}}
#gototop div img { width: 80%; margin: 10%; }

@-webkit-keyframes playGradiant { 0% { background-position: 1px 1px; }
  100% { background-position: 0% 400px; } }
@-moz-keyframes playGradiant { 0% { background-position: 1px 1px; }
  100% { background-position: 0% 400px; } }
@keyframes playGradiant { 0% { background-position: 1px 1px; }
  100% { background-position: 0% 400px; } }
@media only screen and (max-width: 1100px) { @media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003456}}
  footer .navigate { margin-right: 50px; } }

/*# sourceMappingURL=style.css.map */
