/***************************************************** Imports and generic defaults
*****************************************************/
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,900");
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\000036}}
* { margin: 0; padding: 0; box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\0000312}}
body { background-color: #000; font-family: 'Nunito Sans', sans-serif; color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\0000316}}
body a, body a:hover { text-decoration: none; color: #fff; }

/***************************************************** SASS Mixins
*****************************************************/
/***************************************************** Navigation
*****************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\0000332}}
.navigation { position: fixed; top: 0; left: 0; width: 100%; z-index: 998; background-color: #000; -webkit-transition: all 0.23s ease; -moz-transition: all 0.23s ease; -o-transition: all 0.23s ease; transition: all 0.23s ease; }

@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\0000341}}
nav { padding: 10px; float: left; margin-left: 100px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\0000345}}
nav ul li { list-style-type: none; float: left; padding: 0 30px; -webkit-transition: all 0.23s ease; -moz-transition: all 0.23s ease; -o-transition: all 0.23s ease; transition: all 0.23s ease; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\0000350}}
nav ul li a { font: bold 1.4em 'Nunito Sans', sans-serif; color: #bbb; font-weight: 200; }

@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\0000358}}
aside { float: right; margin-top: 5px; margin-right: 70px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\0000362}}
aside > div { width: 300px; margin: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\0000366}}
aside div div { width: 20px; height: 20px; margin: 10px 15px 0; float: left; background-image: url(../img/sprite.png); background-size: 120px 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\0000373}}
aside div div.facebook { background-position: 0px 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\0000374}}
aside div div.twitter { background-position: -20px 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\0000375}}
aside div div.instagram { background-position: -40px 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\0000376}}
aside div div.tumblr { background-position: -60px 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\0000377}}
aside div div.youtube { background-position: -80px 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\0000378}}
aside div div.email { background-position: -100px 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\0000379}}
aside div div.facebook:hover { background-position: 0px -20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\0000380}}
aside div div.twitter:hover { background-position: -20px -20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\0000381}}
aside div div.instagram:hover { background-position: -40px -20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\0000382}}
aside div div.tumblr:hover { background-position: -60px -20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\0000383}}
aside div div.youtube:hover { background-position: -80px -20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\0000384}}
aside div div.email:hover { background-position: -100px -20px; }

@media only screen and (max-width: 1200px) { @media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\0000389}}
  nav { margin-left: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\0000391}}
  nav ul li { padding: 0 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\0000393}}
  aside { margin-right: 30px; } }
@media only screen and (max-width: 992px) { @media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\0000397}}
  .navigation { background-color: transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\0000399}}
  .navigation nav { float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003101}}
  .navigation nav ul li { display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003102}}
  .navigation nav ul li:nth-of-type(1n+4) { display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003104}}
  .navigation aside { position: fixed; top: 7px; left: 0; float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003104}}
  .navigation aside div div { margin: 5px 8px; } }
/***************************************************** Header
*****************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003111}}
header { width: 100%; float: left; color: #fff; min-height: 45vw; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003116}}
header .banner { margin-top: 55px; min-width: 100%; height: 365px; float: left; background: url(../img/headerbg.png) center top/cover no-repeat; transition: all .23s ease; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003123}}
header .banner .wrapper { position: relative; left: 10px; width: 95%; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003128}}
header .banner h1 { font: 90px 'Nunito Sans', sans-serif; margin: -20px 0 0 1%; font-weight: 900; font-style: italic; line-height: 75px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003136}}
header .introduction { color: #fff; width: 100%; margin: 0 auto 25px; float: left; font-weight: 900; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003142}}
header .introduction .wrapper { max-width: 700px; margin: auto; padding: 50px 10px 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003147}}
header .introduction span { font-size: 1.8em; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003148}}
header .introduction p { padding: 7px 10px; width: 100%; float: left; text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003154}}
header .introduction p:first-of-type { padding: 0; font-size: 1.8em; padding-bottom: 20px; line-height: 50px; text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003161}}
header .introduction a { color: #55f; text-decoration: underline; -webkit-transition: all 0.23s ease; -moz-transition: all 0.23s ease; -o-transition: all 0.23s ease; transition: all 0.23s ease; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003165}}
header .introduction a:hover { color: #88f; }

@media only screen and (max-width: 992px) { @media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003171}}
  header .banner { background-position: right top; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003173}}
  header .banner .wrapper h1 { font-size: 10vw; } }
/***************************************************** Main
*****************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003180}}
main { float: left; background-color: #000; font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003184}}
main section { float: left; max-width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003188}}
main h2 { width: 100%; font-size: 3.4em; margin: 25px 0; text-align: center; font-family: 'Nunito Sans', sans-serif; font-weight: 900; }

@media only screen and (max-width: 768px) { @media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003199}}
  main h2 { font-size: 15.0vw; } }
/***************************************************** Project Works
*****************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003205}}
#projects { width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003207}}
#projects .container, #projects .row, #projects .row article { margin: 0; padding: 0; width: 100%; max-width: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003208}}
#projects article.dtxt h3, #projects article.dtxt p { color: #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003209}}
#projects article.NSFW .art_wrapper p:nth-of-type(2) { text-align: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003210}}
#projects article { float: left; width: 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003213}}
#projects article .art_wrapper { height: 25vw; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003214}}
#projects article.large .art_wrapper { height: 50vw; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003215}}
#projects article .art_wrapper { width: 100%; background-size: cover; float: left; padding: 0px 3%; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003221}}
#projects article h3, #projects article p { width: 100%; color: #fff; margin: 0; float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003227}}
#projects article h3 { text-transform: uppercase; font-weight: bold; font-size: 2.7vw; text-align: center; height: 45%; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003234}}
#projects article.large h3 { height: 55%; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003235}}
#projects article p { font-size: 1.6vw; height: 34%; width: 50%; margin-top: 3%; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003241}}
#projects article p:last-of-type { width: 100%; padding: 0; text-align: right; margin: 0; height: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003248}}
#projects article:hover h3 { text-decoration: underline; }

@media only screen and (max-width: 768px) { @media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003254}}
  #projects article { height: 50vw; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003256}}
  #projects article.large { height: 100vw; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003257}}
  #projects article .art_wrapper { width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003258}}
  #projects article h3 { font-size: 5.2vw; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003259}}
  #projects article p { font-size: 3.6vw; } }
/***************************************************** Illustration Works
*****************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003267}}
#illustrations { width: 98%; margin: 0 1%; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003270}}
#illustrations > div { float: left; width: 16.666%; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003273}}
#illustrations > div img { width: 100%; height: 100%; }

@media only screen and (max-width: 992px) { @media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003278}}
  #illustrations > div { width: 25%; } }
@media only screen and (max-width: 768px) { @media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003282}}
  #illustrations > div { width: 33.333%; } }
/***************************************************** Footer
*****************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003288}}
footer { min-width: 100%; margin-top: 60px; float: left; min-height: 380px; height: 47vw; background: url(../img/footerbg.png) center/100% 100% no-repeat; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003296}}
footer .navigate { float: left; margin: 10px 10%; width: 80%; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003300}}
footer .navigate h3 { text-transform: uppercase; font-weight: 900; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003301}}
footer .navigate ul { list-style-type: none; margin-left: 25px; float: right; font-size: 1.4em; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003306}}
footer .navigate ul li { background-color: rgba(0, 0, 0, 0.4); text-align: right; padding: 0 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003310}}
footer .navigate ul li a { -webkit-transition: all 0.23s ease; -moz-transition: all 0.23s ease; -o-transition: all 0.23s ease; transition: all 0.23s ease; font-weight: 300; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003313}}
footer .navigate ul li a:hover { color: #888; }

@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003320}}
.legal { width: 100%; float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003321}}
.legal p { font-weight: 400; padding: 10px; width: 100%; z-index: 100; font-size: 1em; background-color: rgba(0, 0, 0, 0.4); }

@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003331}}
#gototop div { position: fixed; z-index: 999; bottom: 40px; right: 40px; width: 60px; height: 60px; border-radius: 40px; background: #4c4c4c; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003340}}
#gototop div img { width: 80%; margin: 10%; }

@media only screen and (max-width: 992px) { @media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003345}}
  #gototop div { right: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003346}}
  footer { background-position: 45% 0%; background-size: 993px 417px; }
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/Github\/Spencer_Portal_Site_2018\/css\/style\.scss}line{font-family:\00003349}}
  footer .navigate { margin-right: 50px; } }

/*# sourceMappingURL=style.css.map */
